/* Soluzione qui */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  .recipe-origin {
    display: block;
    margin-left: 5px;
  }

  .recipe-name,
  .recipe-origin {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }

  .btn {
    width: 120px;
  }

  .ads {
    display: block;
  }

  .clearfix img {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (min-width: 992px) {

  .recipe-name,
  .recipe-origin {
    font-size: 45px;
  }

  .quick-notes ul {
    flex-direction: column;
    gap: 10px;
  }

  .recipe-card {
    display: flex;
    flex-wrap: wrap;
  }

  .recipe-video {
    width: 70%;
  }

  .social-networks .label {
    display: block;
  }

  .btn {
    width: 150px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  .address {
    text-align: right;
  }

  .recipe-video {
    height: auto;
  }

}